body {
    padding-top: 0px;
  }
  .starter-template {
    /* padding: 100px 15px; */
    padding-top: 100px;
    padding-bottom: auto;
    text-align: center;
    color: beige;
  }
  .edit-template {
    padding: 100px 15px;
    text-align: center;
    color: rgb(7, 7, 7);
  }

.background-img{
    background-image: url('/static/img/form-image.jpg');
}

.container2{
    margin-top:6rem
}

.main-icon-container{
    padding-top:100px;
    padding-bottom:100px
}